.content_section {
  background: #000599;
}
.image_section {
  background: #006999;
}
.content_section,
.image_section {
  color: rgba(255, 255, 255, 0.4);
  padding: 2%;
  text-align: left;
}
@media (min-width: 600px) {
  .volunteer_content {
    width: 100%;
    margin: 0 auto;
    display: -webkit-flex;
    display: flex;
  }
  .content_section,
  .image_section {
    -webkit-flex: 1;
    flex: 1;
    background: none;
  }
}
