.leftside,
.rightside {
  color: rgba(255, 255, 255, 0.4);
  padding: 2%;
  text-align: left;
  -webkit-flex: 1;
  flex: 1;
}

.leftside {
  background: url("../images/gallery/ecology.jpg") center bottom no-repeat;
  background-size: cover;
  height: 200vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.flexbox {
  width: 100%;
  margin: 0 auto;
  display: -webkit-flex;
  display: flex;
  background-color: #211e1e;
}
