/* Media Queries for mobile phones */
@media (min-width: 360px) and (max-width: 480px) {
  .home_header {
    width: 300px;
  }
  h1 {
    color: greenyellow;
  }
  .events_gallery {
    grid-template-columns: 1fr;
  }
}
/* Media Queries for tablets */
@media (min-width: 640px) and (max-width: 768px) {
  h1 {
    color: red;
  }
  .events_gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
/* Media Queries for smaller laptops */
@media (min-width: 769px) and (max-width: 1024px) {
  h1 {
    color: blue;
  }
}
