/* FOR MOBILE PHONES */
@media (min-width: 360px) and (max-width: 768px) {
  /* Header */
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  .header_text {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: -25px;
    margin-bottom: 60px;
  }
  .main-cta {
    font-size: 1em;
    margin: 0 200px;
  }
  /* Exhibition gallery */
  .subheading {
    font-size: 1.9em;
  }
  .header_link {
    font-size: 0.9em;
    margin: -55px 45px;
  }
  i.fas.fa-images,
  i.fas.fa-calendar-alt .exhibitpage {
    margin: 0 10px 0 -10px;
  }
  .subhead-dec {
    width: 85%;
  }
  .gallery-page {
    grid-template-columns: auto;
  }
  /* Footer */
  footer {
    height: 1200px;
  }
}
