@media (min-width: 769px) and (max-width: 1024px) {
  .casestudies,
  .footer_content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* FOR MOBILE PHONES */
@media (min-width: 360px) and (max-width: 768px) {
  .header ul {
    background-color: #001cd4;
  }
  .header li a {
    color: #ffffff;
  }
  /* Header */
  .headpage {
    min-height: 50vh;
  }
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  .header_text {
    font-size: 1.5em;
    margin-top: -20px;
    margin-bottom: 50px;
  }
  .main-cta {
    font-size: 1em;
    margin: 0 140px;
    padding: 15px 30px;
  }
  /* Content pages */
  .exhibit_page,
  .footer_content {
    grid-template-columns: 1fr;
  }
  .grid,
  .casestudies {
    grid-template-columns: 1fr;
  }
  /* Footer */
  .footer_content {
    display: grid;
  }
}
