html,
body {
  margin: 0 auto;
}

body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4rem;
  color: #ffffff;
}

.topnav-bar {
  background: #ffffff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
}

.header_text {
  font-size: 2rem;
}

.events_gallery,
.exhibit_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.event-image img,
.exhibit_theme img {
  width: 100%;
  height: auto;
}

hr {
  border-top: 2.5px solid blue;
}

.headpage {
  background: url("images/header.jpg") center bottom no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.CSMlogo {
  width: 15%;
}

#hamburger-menu {
  display: none;
}

i.fas.fa-bars {
  float: right;
  color: #2a1540;
  padding: 10px;
  font-size: 1.5em;
  display: block;
}

footer {
  background-color: #001cd4;
}

.footer_content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
