body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}
.header_text {
  font-size: 2rem;
}

.events_gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 2rem;
  max-width: 1100px;
  margin: auto;
}
