body {
  font-family: montserrat, sans-serif;
  font-weight: 400;
}

h1 {
  font-size: 4rem;
}
.header_text {
  font-size: 2rem;
}

.event-image img {
  width: 450px;
  height: 350px;
}

.event-image {
  margin: 0px 25px;
}

.event_gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
